@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg1color: #ffeff4;
  --bg2color: #ffe0e9;
  --darkcolor: #b38693;
  --light1color: #ffc0cb;
  --light2color: #ffffff;
  --fontcolor: #949191;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light2color);
}

nav .logo {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  text-decoration: none;
}

.logo img {
  width: 75%;
}

.footer-logo img {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

nav ul li {
  text-transform: capitalize;
  font-size: 18px;
  cursor: pointer;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

nav ul li a::after,
nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

nav ul li a::after {
  content: attr(data-replace);
}

nav ul li a::after {
  content: attr(data-replace);
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
}

nav ul li a:hover::after,
nav ul li a:focus::after {
  transform: translate3d(0, 0, 0);
}

nav ul li a::before {
  background-color: var(--light1color);
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
}

nav ul li a:hover::before,
nav ul li a:focus::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
  transition: 1s all ease;
}

nav ul li a:hover {
  transition: 0.5s all ease;
  color: var(--light1color);
}

.log-search-class {
  display: flex;
  align-items: center;
  gap: 30px;
}

.log-sign {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search {
  width: 200px;
  height: 40px;
  background-color: var(--light2color);
  border-radius: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px var(--darkcolor);
}

.search input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  padding-left: 3%;
  width: 80%;
  height: 100%;
}

.log,
.sign {
  display: flex;
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.sign {
  background-color: var(--darkcolor);
}

.log a,
.sign a {
  text-decoration: none;
  font-size: 18px;
  color: var(--light2color);
}

.log a {
  color: var(--darkcolor);
}

.lh-nav {
  width: 100%;
  height: 0.5px;
  opacity: 0.5;
  background-color: #949191;
}

.header-container {
  width: 100%;
  height: calc(80vh - 81px);
  background-color: var(--bg1color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 110px;
}

.header-right-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
}

.header-right-section img {
  width: 90%;
}

.header-left-section h3 {
  color: var(--light1color);
  text-transform: uppercase;
  font-size: 25px;
}

.header-left-section h2 {
  color: var(--darkcolor);
  text-transform: capitalize;
  font-size: 60px;
  word-spacing: 3px;
  margin-bottom: 15px;
}

.header-left-section p {
  color: var(--fontcolor);
}

.appoi-video {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.appoi-class {
  width: 170px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light1color);
  cursor: pointer;
}

.appoi-class a {
  color: var(--light2color);
  font-family: 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.watch-video {
  display: flex;
  align-items: center;
  gap: 10px;
}

.watch-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--light1color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.watch-btn i {
  color: var(--light2color);
  font-size: 18px;
  padding-left: 5px;
}

.watch-video span {
  color: var(--fontcolor);
  text-transform: capitalize;
}

.header-bar {
  width: 100%;
  height: 20vh;
  background-color: var(--light1color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar-item h2 {
  font-size: 40px;
  color: var(--light2color);
}

.bar-item span {
  font-size: 20px;
  text-transform: capitalize;
  color: var(--light2color);
  font-weight: 600;
}

.all-about {
  background-color: var(--bg1color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.allAbout-left-section,
.allAbout-right-section {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.allAbout-right-section {
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

.top {
  position: absolute;
  top: 27vh;
}

.paragraph1 {
  position: absolute;
  bottom: 27vh;
}

.paragraph2 {
  position: absolute;
  bottom: 20.5vh;
}

.paragraph3 {
  position: absolute;
  bottom: 42.5vh;
}

.allAbout-left-section {
  justify-content: center;
  position: relative;
}

.allAbout-left-div {
  width: 80%;
  height: 200px;
  background-color: var(--light1color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20vh;
  opacity: 0.6;
}

.allAbout-left-section img {
  z-index: 1;
  position: absolute;
  bottom: 20vh;
  left: 210px;
  width: 45%;
}

.title {
  font-size: 22px;
  text-transform: capitalize;
  color: var(--light1color);
}

.big-title {
  font-size: 35px;
  text-transform: capitalize;
  color: var(--darkcolor);
  margin-bottom: 10px;
}

.allAbout-right-section ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.allAbout-right-section ul li span {
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  color: var(--darkcolor);
  text-transform: capitalize;
}

.allAbout-right-section p {
  color: var(--fontcolor);
}

.mission-par {
  display: none;
}

.achi-par {
  display: none;
}

.mission-active .mission-par {
  display: flex;
}

.mission-active .work-par {
  display: none;
}

.mission-active .achi-par {
  display: none;
}

.work-active .work-par {
  display: flex;
}

.work-active .mission-par {
  display: none;
}

.mission-active .achi-par {
  display: none;
}

.achievement-active .work-par {
  display: none;
}

.achievement-active .mission-par {
  display: none;
}

.achievement-active .achi-par {
  display: flex;
}

.our-team,
.our-service,
.blogs-posts {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg1color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team h3,
.our-service h3,
.blogs-posts h3 {
  margin-top: 40px;
}

.our-team h2,
.our-service h2,
.blogs-posts h2 {
  margin-top: 10px;
  margin-bottom: 40px;
}

.our-service h2,
.blogs-posts h2 {
  margin-bottom: 10px;
}

.doctor-cards,
.blogs-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  height: 70vh;
  margin-top: 10px;
}

.first-cards {
  display: flex;
  align-items: end;
  padding-bottom: 20px;
  width: 100%;
  height: 90%;
  gap: 70px;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 200%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 1s;
  margin-right: 2px;
}

.navigation-manual,
.navigation-manual-blogs {
  position: absolute;
  width: 90%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn,
.manual-btn-blogs {
  background-color: var(--light1color);
  opacity: 0.4;
  height: 7px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child),
.manual-btn-blogs:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover,
.manual-btn-blogs:hover {
  background-color: var(--light1color);
  opacity: 1;
}

#radio1:checked ~ .first,
#radio1-blogs:checked ~ .first-blogs {
  margin-left: 0;
}

#radio2:checked ~ .first,
#radio2-blogs:checked ~ .first-blogs {
  margin-left: -125%;
}

.card-doctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  background-color: var(--light2color);
}

.doctor-pic {
  width: 100%;
  height: 70%;
  position: relative;
}

.blog-pic {
  width: 100%;
  height: 70%;
}

.blog-pic img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
}

.blogs-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.date-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blogs-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-blogs {
  width: 30px;
  height: 30px;
  border: 1px solid var(--fontcolor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-blogs:hover {
  background-color: var(--light1color);
  border: 0;
}

.social-blogs i {
  color: var(--fontcolor);
}

.social-blogs:hover i {
  color: var(--light2color);
}

.social-blogs:first-child {
  background-color: var(--light1color);
  border: 0;
}

.social-blogs:first-child i {
  color: var(--light2color);
}

.blogs-description h2 {
  font-size: 20px;
  padding-left: 15px;
  font-weight: 100;
  margin-top: 10px;
}

.blogs-description {
  position: relative;
}

.read-more-span {
  position: absolute;
  bottom: 20px;
}

.blogs-description span {
  padding-left: 20px;
  text-transform: capitalize;
  color: var(--fontcolor);
  opacity: 0.7;
  cursor: pointer;
}

.blogs-description span:hover {
  color: var(--light1color);
  opacity: 1;
}

.date-social {
  margin-top: 10px;
}

.date-social span {
  color: var(--fontcolor);
}

.doctor-div {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  background-color: var(--light1color);
}

.doctor-pic img {
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 103%;
}

.card-image img {
  width: 55%;
  left: 75px;
}

.doctor-description {
  display: flex;
  flex-direction: column;
}

.doctor-description h2 {
  font-size: 25px;
  text-align: center;
}

.doctor-description h2 span {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  color: #949191;
}

.social-media {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}

.social-media .view {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--darkcolor);
  opacity: 0.8;
}

.social-media .view:hover {
  opacity: 1;
}

.social {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--fontcolor);
}

.social i {
  color: var(--fontcolor);
  font-size: 16px;
}

.social:hover {
  border: 0;
  background-color: var(--light1color);
}

.social:hover i {
  color: var(--light2color);
}

.swipe-btn-active #btn1,
.swipe-btn-active-blogs #btn1-blogs {
  background-color: var(--light1color);
  opacity: 1;
}

.swipe-btn-active2 #btn2,
.swipe-btn-active2-blogs #btn2-blogs {
  background-color: var(--light1color);
  opacity: 1;
}

.our-service-cards {
  width: 100%;
  min-height: 80vh;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
  gap: 50px 70px;
}

.service-card {
  width: 300px;
  height: 350px;
  background-color: var(--light2color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
  cursur: pointer;
}

.service-card:hover {
  transition: all 1s ease;
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--bg2color);
}

.service-card:hover i {
  color: var(--darkcolor);
}

.service-card:hover h2 {
  color: black;
}

.service-card i {
  margin-top: 15px;
  font-size: 60px;
}

.service-card h2 {
  text-transform: capitalize;
}

.service-card p {
  text-align: center;
  color: #949191;
}

footer {
  width: 100%;
  height: 70vh;
  background-color: var(--light2color);
  display: flex;
  flex-direction: column;
}

.top-footer {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  position: relative;
}

.top-footer .footer-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 10%;
}

.footer-title h2 {
  color: var(--light1color);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
}

.footer-title span {
  color: var(--fontcolor);
}

.footer-email {
  width: 40%;
  height: 50px;
  background-color: var(--bg1color);
  position: absolute;
  right: 10%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.footer-email input {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 2%;
  font-size: 20px;
}

.footer-email button {
  width: 25%;
  height: 85%;
  border: none;
  background-color: var(--bg2color);
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 5px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: var(--light1color);
  opacity: 0.5;
}

.bottom-footer {
  width: 100%;
  height: 65%;
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.LOGO,
.company-info,
.contact-us {
  width: 200px;
  height: 70%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LOGO {
  width: 280px;
}

.our-app {
  width: 400px;
  height: 70%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LOGO h2,
.company-info h2,
.contact-us h2,
.our-app h2 {
  color: var(--light1color);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 25px;
}

.LOGO span {
  color: var(--fontcolor);
  text-transform: capitalize;
  font-size: 15px;
}

.our-app span {
  color: var(--fontcolor);
  font-size: 15px;
}

.footer-media {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 7px;
}

.footer-social {
  border: 1px solid var(--fontcolor);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social:first-child {
  background-color: var(--light1color);
  border: 0;
}

.footer-social:first-child i {
  color: var(--light2color);
}

.footer-social i {
  font-size: 18px;
  color: var(--fontcolor);
  cursor: pointer;
}

.footer-social:hover {
  background-color: var(--light1color);
  border: 0;
}

.footer-social:hover i {
  color: var(--light2color);
}

.contact-us span {
  color: var(--fontcolor);
  font-size: 15px;
}

.company-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-info ul li a {
  text-transform: capitalize;
  font-size: 15px;
  color: var(--fontcolor);
  text-decoration: none;
}

.company-info ul li a:hover {
  transition: 0.5s all ease;
  color: black;
}

.button-download {
  width: 100%;
  height: 55px;
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.playstore,
.appstore {
  width: 50%;
  height: 100%;
  background-color: var(--bg1color);
  border-radius: 5px;
}

.play-btn {
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-btn i {
  font-size: 25px;
}
.ios i {
  font-size: 30px;
}

.play-btn span {
  font-size: 15px;
}

.btn-contant span {
  color: black;
}

.appointment,
.read-more,
.doctor-profile,
.video-clinic {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.appointment::after,
.read-more::after,
.doctor-profile::after,
.video-clinic::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bg1color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  z-index: 10;
}

.appointement-container,
.read-more-container,
.doctor-profile-container,
.video-clinic-container {
  width: 90%;
  z-index: 12;
  height: 90%;
  border: var(--darkcolor) 5px solid;
  border-radius: 10px;
  background-color: var(--light2color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-clinic-container{
  position: relative;
}

.close-icon-video{
  position: absolute;
  top: 0px;
  left: 0;
}

.doctor-profile-container {
  height: 90%;
  width: 30%;
  background-color: #ffffff;
}

.doctor-profile-pic {
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.close-icon2,
.close-icon-video,
.close-icon-calendar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkcolor);
  border-radius: 0 0 10px 0;
  cursor: pointer;
}

.close-icon-calendar{
  top: -87px;
}

.close-icon2 i,
.close-icon-video i,
.close-icon-calendar i {
  font-size: 15px;
  color: var(--light2color);
  z-index: 99;
}

.doctor-profile-pic-div {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 60%;
  background-color: var(--light1color);
  border-radius: 10px;
}

.doctor-profile-pic img {
  width: 60%;
  height: 115%;
  z-index: 13;
  position: absolute;
  bottom: 0;
}

.pic-spe img {
  width: 100%;
}

.doctor-profile-nom {
  margin-top: 10px;
  text-align: center;
}

.doctor-profile-nom h2 {
  font-size: 27px;
}

.doctor-profile-nom span {
  color: var(--fontcolor);
}

.doctor-profile-exeperiance {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.experience-item {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.exeperiance-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light1color);
}

.exeperiance-logo i {
  font-size: 20px;
  cursor: pointer;
  color: var(--light2color);
}

.experience-item span {
  color: var(--fontcolor);
  cursor: pointer;
}

.experience-item span:hover,
.experience-item h3:hover,
.exeperiance-logo i:hover {
  color: var(--darkcolor);
  transform: scale(1.1);
  transition: all 1s ease;
}

.experience-item h3 {
  font-size: 18px;
  cursor: pointer;
  color: var(--fontcolor);
}

.doctor-profile-about {
  width: 100%;
  height: 150px;
  padding-left: 15px;
  padding-right: 20px;
}

.doctor-profile-about h3 {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: var(--darkcolor);
}

.doctor-profile-about span {
  margin-top: 15px;
  color: var(--light1color);
  opacity: 0.8;
  cursor: pointer;
}

.doctor-profile-about span:hover {
  opacity: 1;
}

.doctor-profile-about p {
  color: var(--fontcolor);
}

.read-more-container {
  flex-direction: row;
  justify-content: space-between;
}

.read-more-left {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 20px;
  position: relative;
}

.read-more-right {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.read-more-right h2 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 300;
  color: var(--darkcolor);
}

.read-more-par {
  margin-top: 10px;
  width: 100%;
  height: 80%;
  padding-right: 20px;
  overflow-y: scroll;
}

.read-more-par::-webkit-scrollbar {
  background-color: var(--bg1color);
  border-radius: 20px;
  width: 10px;
}

.read-more-par::-webkit-scrollbar-thumb {
  background-color: var(--light1color);
  border-radius: 10px;
}

.read-more-par p {
  color: var(--fontcolor);
  font-size: 18px;
}

.close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light2color);
  border-radius: 10px 0 10px 0;
  cursor: pointer;
}

.close-icon {
  color: var(--darkcolor);
  font-size: 20px;
}

.read-more-left img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.appointement-container h2 {
  color: var(--light1color);
  font-size: 40px;
  margin-top: 15px;
}

.appointement-section {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.appointement-left-class {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  
}

.appointement-right-class {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointement-left-class span {
  margin-top: 10px;
  margin-left: 20px;
}

.appointement-left-class span,
.appoin-time span {
  font-size: 20px;
  text-transform: capitalize;
  color: var(--fontcolor);
}

.appoin-time {
  margin-top: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.appoin-email {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.appoin-email input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 3%;
  font-size: 18px;
}

.appoin-email-line {
  width: 90%;
  height: 1px;
  margin-left: 18px;
  opacity: 0.5;
  border-radius: 50px;
  background-color: var(--fontcolor);
}

.appoin-time-grid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 20px 30px;
  margin-top: 20px;
}

.appoin-item {
  width: 180px;
  height: 50px;
  border: 1px solid var(--darkcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.appoin-item span {
  color: black;
  text-transform: lowercase;
}

.appointement-button input {
  margin-top: 80px;
  padding: 15px 20px;
  border: 0;
  background-color: var(--light1color);
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 5px;
  color: var(--light2color);
  cursor: pointer;
}

.appoinItem1-active #appoin-item1,
.appoinItem2-active #appoin-item2,
.appoinItem3-active #appoin-item3,
.appoinItem4-active #appoin-item4,
.appoinItem5-active #appoin-item5,
.appoinItem6-active #appoin-item6,
.appoinItem7-active #appoin-item7,
.appoinItem8-active #appoin-item8,
.appoinItem9-active #appoin-item9 {
  background-color: var(--light1color);
  border: 0;
}

.appoinItem1-active #appoin-item1 span,
.appoinItem2-active #appoin-item2 span,
.appoinItem3-active #appoin-item3 span,
.appoinItem4-active #appoin-item4 span,
.appoinItem5-active #appoin-item5 span,
.appoinItem6-active #appoin-item6 span,
.appoinItem7-active #appoin-item7 span,
.appoinItem8-active #appoin-item8 span,
.appoinItem9-active #appoin-item9 span {
  color: var(--light2color);
}

/* calendar style */

.appointement-calendar {
  width: 100%;
  height: 75%;
  position: relative;
  display: flex;
  padding: 1% 0px 0px 0px;
  justify-content: center;
}

.calendar {
  position: relative;
  height: 118%;
  width: 80%;
  background-color: var(--light2color);
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px 0px 50px;
  box-shadow: 0px 7px 29px 0px var(--darkcolor);
}

.calendar-header {
  background-color: var(--bg1color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--light2color);
  padding: 10px;
}

.calendar-body {
  pad: 10px;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600px;
  cursor: pointer;
  color: var(--darkcolor);
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: var(--darkcolor);
  height: 50px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--fontcolor);
}

.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--light1color);
}

.month-picker:hover {
  color: var(--light2color);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--light1color);
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

.year-change:hover pre {
  color: var(--light2color);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div {
  margin-left: 12px;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: var(--darkcolor);
  border-radius: 20%;
  color: var(--light2color);
}

.month-list {
  position: relative;
  left: 0;
  top: -150px;
  background-color: var(--bg1color);
  color: var(--fontcolor);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}

.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list > div > div:hover {
  background-color: var(--light1color);
  color: var(--light2color);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list .show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6 ease-in-out;
  animation: to-left 0.71s forwards;
}

.month-list.hideonce {
  visibility: hidden;
}

.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

.date-time-formate {
  width: max-content;
  height: max-content;
  position: relative;
  position: absolute;
  display: inline;
  bottom: 1rem;
  left: 100px;
  justify-content: center;
}

.day-text-formate {
  font-size: 1.4rem;
  padding-right: 10%;
  border-right: 3px solid var(--bg2color);
  position: absolute;
  left: 1rem;
}

.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 10rem;
  top: -18px;
  text-align: center;
}

.time-formate {
  font-size: 1.5rem;
}

.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
  animation: showtime 1s forwards;
}

.time-formate.showtime {
  animation: shwotimme 1s forwards;
}

.date-formate.showtime {
  animation: showtime 1s forwards;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translateX(230%);
    opacity: 1;
  }
  100% {
    transform: translateX(230%);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translateX(250%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hidentime {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-370%);
    opacity: 1;
  }
}

.read-more-par p span {
  color: var(--light1color);
  font-size: 20px;
}

.appointment,
.read-more,
.doctor-profile,
.video-clinic {
  display: none;
}

.apppointment-active .appointment,
.readeMore-active .read-more,
.readeMore-active .read-article2,
.readeMore-active .read-article3,
.readeMore-active .read-article4,
.readeMore-active .read-article5,
.readeMore-active .read-article6,
.readeMore-active .view-doctor1,
.readeMore-active .view-doctor2,
.readeMore-active .view-doctor3,
.readeMore-active .video-clinic {
  display: flex;
  transition: all 2s ease;
}

.list-style {
  position: relative;
  transition: all 1s ease;
}

.list-style::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--light1color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.list1.list-style span,
.list2.list-style span,
.list3.list-style span {
  color: var(--light1color);
}

